<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Dom>
	<Kontroler>
		<AdresIP Wartosc="10.0.2.15" />
		<Port Wartosc="5000" />
	</Kontroler>
	<Rolety>
		<AdresIP Wartosc="10.0.2.15" />
		<PortRx Wartosc="33634" />
		<PortTx Wartosc="32526" />
	</Rolety>
	<CzujnikSwiatla>
		<AdresIP Wartosc="10.0.2.15" />
		<PortRx Wartosc="33632" />
		<PortTx Wartosc="32524" />
	</CzujnikSwiatla>
	<Brama>
		<AdresIP Wartosc="10.0.2.15" />
		<PortRx Wartosc="33630" />
		<PortTx Wartosc="32522" />
	</Brama>
	<CzujnikZblizeniowy>
		<AdresIP Wartosc="10.0.2.15" />
		<PortRx Wartosc="33628" />
		<PortTx Wartosc="32520" />
	</CzujnikZblizeniowy>
	<CzujnikTemperatury>
		<AdresIP Wartosc="10.0.2.15" />
		<PortRx Wartosc="33626" />
		<PortTx Wartosc="32518" />
		<ZadanaTemperatura Wartosc="25" />
		<ProgUruchomieniaPieca Wartosc="20" />
		<WartoscZwiekszeniaTemperatury Wartosc="1" />
		<ProgZatrzymaniaGrzania Wartosc="25" />
		<WartoscSpadaniaTemperatury Wartosc="0.5" />
		<KrokZmianyTemperatury Wartosc="1" />
	</CzujnikTemperatury>
	<Piec>
		<AdresIP Wartosc="10.0.2.15" />
		<PortRx Wartosc="33624" />
		<PortTx Wartosc="32516" />
	</Piec>
</Dom>